<a href="https://colab.research.google.com/github/Pyeonseohee/Deeplearning/blob/main/DataScience_Post_Covid19_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# POST - COVID19 데이터 시각화 경진대회

* 가설 2: 코로나 이후 배달이 급격히 늘어 배달완료시간이 오래 걸릴 것이다.

필요한 library 불러오기기

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import datetime

google drive mount 해준 뒤, card.csv 파일 읽기 head() 함수는 파일 간단히 보여줌.

In [2]:
delivery = pd.read_csv('/content/drive/MyDrive/Post_Covid19/delivery.csv')
delivery.head()

   SERIAL_NUMBER  PROCESS_DT  ...      DLVR_COMPT_TIME  DLVR_CANCL_TIME
0        4577985  2020-01-01  ...  2020-01-01 00:41:37              NaN
1        4577986  2020-01-01  ...  2020-01-01 01:31:44              NaN
2        4577988  2020-01-01  ...  2020-01-01 00:18:47              NaN
3        4577989  2020-01-01  ...  2020-01-01 01:36:48              NaN
4        4577991  2020-01-01  ...  2020-01-01 01:29:00              NaN

[5 rows x 31 columns]

* SERIAL_NUMBER : 순번
* PROCESS_DT : 처리일시
* DLVR_RQESTER_ID : 배달요청업체 ID
* DLVR_REQUST_STTUS_VALUE : 배달요청상태값( 1:완료, 2:취소, 3:사고, 4:문의)
* DLVR_RCEPT_CMPNY_ID : 배달접수회사 ID
* DLVR_STORE_ID : 배달상점 ID
* DLVR_STORE_INDUTY_NM : 배달상점 업종이름
* DLVR_STORE_LEGALDONG_CODE : 배달상점 주소 법정동코드
* DLVR_STORE_SIDO : 배달상점 주소 법정동 시도명
* DLVR_STORE_SIGUNGU : 배달상점 주소 법정동 시군구명
* DLVR_STORE_DONG : 배달상점 주소 법정동 읍면동명
* DLVR_STORE_RI : 배달상점 주소 법정동 리명
* DLVR_STORE_ADSTRD_CODE : 배달상점 주소 행정동 코드
* DLVR_STORE_RDNMADR_CODE : 배달상점주소 도로명주소 코드
* DLVR_DSTN_LEGALCONG_CODE : 배달목적지 주소 법정동코드
* DLVR_DSTN_SIDO : 배달목적지 주소 법정동 시도명
* DLVR_DSTN_SIGUNGU : 배달목적지 주소 법정동 시군구명
* DLVR_DSTN_DONG : 배달목적지 주소 법정동 읍면동명
* DLVR_DSTN_RI : 배달목적지 주소 법정동 리명
* DLVR_DSTN_ADSTRD_CODE: 배달목적지 주소 행정동 코드
* DLVR_DSTN_RDNMADR_CODE : 배달목적지주소 도로명주소 코드
* DLVR_MAN_ID : 배달기사 ID
* DLVR_AMOUNT : 배달비용
* CALL_RLAY_FEE_AMOUNT : 호출중계수수료금액
* GOODS_AMOUNT : 배달상품금액
* SETLE_KND_VALUE : 결제종류번호 (1:카드, 2:선불, 3:현금)
* SETLE_CARD_CN : 결제카드종류
* DLVR_RCEPT_TIME : 배달접수시간
* DLVR_CARALC_TIME : 배달배차시간
* DLVR_COMPT_TIME : 배달완료시간
* DLVR_CANCL_TIME : 배달취소시간

In [6]:
type(delivery['DLVR_RCEPT_TIME'][0])

str

In [5]:
type(delivery['DLVR_COMPT_TIME'][0])

str

In [7]:
type(delivery['PROCESS_DT'][0])

str

In [10]:
delivery['DLVR_RCEPT_TIME'] = pd.to_datetime(delivery['DLVR_RCEPT_TIME'])
delivery['DLVR_COMPT_TIME'] = pd.to_datetime(delivery['DLVR_COMPT_TIME'])
delivery['PROCESS_DT'] = pd.to_datetime(delivery['PROCESS_DT'])

In [11]:
type(delivery['DLVR_RCEPT_TIME'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [12]:
type(delivery['DLVR_COMPT_TIME'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [13]:
type(delivery['PROCESS_DT'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [30]:
time = delivery['DLVR_COMPT_TIME'] - delivery['DLVR_RCEPT_TIME']
time

0         0 days 00:25:48
1         0 days 00:19:30
2         0 days 00:17:33
3         0 days 00:35:14
4         0 days 00:23:54
                ...
5158319   0 days 00:19:25
5158320   0 days 00:21:05
5158321   0 days 00:19:37
5158322   0 days 00:14:32
5158323   0 days 00:23:32
Length: 5158324, dtype: timedelta64[ns]

In [47]:
df = pd.merge(delivery, time_data, left_index = True, right_index = True)
df.head(10)

   SERIAL_NUMBER PROCESS_DT  ... DLVR_CANCL_TIME               0
0        4577985 2020-01-01  ...             NaN 0 days 00:25:48
1        4577986 2020-01-01  ...             NaN 0 days 00:19:30
2        4577988 2020-01-01  ...             NaN 0 days 00:17:33
3        4577989 2020-01-01  ...             NaN 0 days 00:35:14
4        4577991 2020-01-01  ...             NaN 0 days 00:23:54
5        4577993 2020-01-01  ...             NaN 0 days 00:26:10
6        4577994 2020-01-01  ...             NaN 0 days 00:14:45
7        4577995 2020-01-01  ...             NaN 0 days 00:22:44
8        4577996 2020-01-01  ...             NaN 0 days 00:31:52
9        4577997 2020-01-01  ...             NaN 0 days 00:15:30

[10 rows x 32 columns]

In [59]:
df.rename(columns = {0:'time'}, inplace = True)
df.head(10)

   SERIAL_NUMBER PROCESS_DT  ... DLVR_CANCL_TIME            time
0        4577985 2020-01-01  ...             NaN 0 days 00:25:48
1        4577986 2020-01-01  ...             NaN 0 days 00:19:30
2        4577988 2020-01-01  ...             NaN 0 days 00:17:33
3        4577989 2020-01-01  ...             NaN 0 days 00:35:14
4        4577991 2020-01-01  ...             NaN 0 days 00:23:54
5        4577993 2020-01-01  ...             NaN 0 days 00:26:10
6        4577994 2020-01-01  ...             NaN 0 days 00:14:45
7        4577995 2020-01-01  ...             NaN 0 days 00:22:44
8        4577996 2020-01-01  ...             NaN 0 days 00:31:52
9        4577997 2020-01-01  ...             NaN 0 days 00:15:30

[10 rows x 32 columns]

In [63]:
g = df.groupby('PROCESS_DT', as_index = False).agg({'time' : 'np.mean'})
g.head()

AttributeError: ignored

In [60]:
group = df.groupby(['PROCESS_DT', 'DLVR_STORE_SIDO'])['time'].sum()
group

PROCESS_DT  DLVR_STORE_SIDO
2020-01-01  강원도                 1 days 04:42:23
            경기도               259 days 01:57:03
            경상남도               19 days 11:58:34
            경상북도                6 days 01:06:28
            광주광역시               2 days 03:23:50
                                     ...
2020-06-21  전라남도                5 days 04:04:32
            전라북도               11 days 16:30:33
            제주특별자치도             3 days 18:56:15
            충청남도               15 days 17:06:34
            충청북도                8 days 23:49:51
Name: time, Length: 2473, dtype: timedelta64[ns]